/* Content */
.content {
  padding-top: 5%;
}
  
.content-box {
  background-color:rgba(18, 18, 18, 0.6);
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  height: auto;
  margin: 200px 400px;
  padding: 10px 200px;
  padding-top: 5%;
  padding-bottom: 8%;
  border-radius: 20px;
  border: 2px solid #ff007f;
  box-shadow: 0 0 25px #ff00ff;
}

.content-box h2 {
  color: white;
  margin-bottom: 5%;
  font-size: 32px;
  text-shadow: 0 0 25px #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Profile Container */
.profile-container {
  margin: 0;
  padding: 0;
}

.profile-container .profile-image {
  height: 320px;
  width: 320px;
  border-radius: 100%;
  border: 5px solid black;
  background-color: black;
  transition: .8s;
}

.profile-container .profile-image:hover{
  height: 420px;
  width: 420px;
  border: 0;
  border-radius: 10%;
  transition: .3s;
}

.profile-container h2 {
  font-size: 28px;
  margin: 25px 0;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 0 25px #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.verification-icon {
  margin: 0 5px;
  height: 22px;
  width: 22px;
}


/* Profile Edit and Delete Button */
.profile-button {
  margin-top: 8%;
}

.profile-button button {
  margin: 0px 5px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgba(15, 15, 15, 0.9);
  color: white;
  text-shadow: 0 0 25px #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: .3s;
}

.edit-button:hover {
  background-color: rgba(0, 55, 235, 0.9);
  border: 1px solid #ffffff;
  box-shadow: 0 0 18px #ffffff;
  transition: .8s;
}

.delete-button:hover {
  background-color: rgba(235, 0, 0, 0.9);
  border: 1px solid #ffffff;
  box-shadow: 0 0 18px #ffffff;
  transition: .8s;
}

/* Popover Edit */
.popover-edit {
  padding: 50px 40px;
  width: 24%;
  height: 54%;
  overflow-y: auto;
  border-radius: 25px;
  background-color: rgba(15, 15, 15, 0.6);
  backdrop-filter: blur(10px);
  border: 2px solid #ff007f;
  box-shadow: 0 0 25px #ff00ff;
}

.popover-edit label{
  display: block;
  margin-bottom: 5px;
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
}

.popover-edit input {
  border: none;
  outline: none;
  color: black;
  margin: 16px;
  padding: 15px 20px;
  width: 55%;
  background-color: white;
  border-radius: 25px;
  border: 1px solid black;
  font-size: 16px;
  font-family: "Lucida Console", "Courier New", monospace;
  transition: .3s;
}

.popover-edit input:hover {  
  width: 64%;
  border: 1px solid #ff007f;
  box-shadow: 0 0 25px #ff00ff;
  transition: .8s;
}

.popover-edit select {
  border: none;
  outline: none;
  color: black;
  margin: 16px;
  padding: 15px 20px;
  width: 33%;
  background-color: white;
  border-radius: 25px;
  border: 1px solid black;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 18px;
  transition: .3s;
}

.popover-edit select:hover {
  width: 40%;
  transition: .8s;
  border: 1px solid #ff007f;
  box-shadow: 0 0 25px #ff00ff;
}

.popover-edit button {
  margin: 20px 5px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgba(15, 15, 15, 0.9);
  color: white;
  text-shadow: 0 0 25px #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: .3s;
}

.popover-edit .submit:hover {
  background-color: rgba(20, 235, 0, 0.9);
  border: 1px solid #ffffff;
  box-shadow: 0 0 18px #ffffff;
  transition: .8s;
}

.popover-edit .edit-close:hover {
  background-color: rgba(0, 55, 235, 0.9);
  border: 1px solid #ffffff;
  box-shadow: 0 0 18px #ffffff;
  transition: .8s;
}

/* Popover Delete */
.popover-delete {
  padding: 50px 40px;
  width: 24%;
  height: 22%;
  overflow-y: auto;
  border-radius: 25px;
  background-color: rgba(15, 15, 15, 0.6);
  backdrop-filter: blur(10px);
  border: 2px solid #ff007f;
  box-shadow: 0 0 25px #ff00ff;
}

.popover-delete label{
  display: block;
  margin-bottom: 5px;
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
}

.popover-delete input {
  border: none;
  outline: none;
  color: black;
  margin: 16px;
  padding: 15px 20px;
  width: 55%;
  background-color: white;
  border-radius: 25px;
  border: 1px solid black;
  font-size: 16px;
  font-family: "Lucida Console", "Courier New", monospace;
  transition: .3s;
}

.popover-delete input:hover {  
  width: 64%;
  border: 1px solid #ff007f;
  box-shadow: 0 0 25px #ff00ff;
  transition: .8s;
}

.popover-delete button {
  margin: 20px 5px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgba(15, 15, 15, 0.9);
  color: white;
  text-shadow: 0 0 25px #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: .3s;
}

.popover-delete .submit:hover {
  background-color: rgba(235, 0, 0, 0.9);
  border: 1px solid #ffffff;
  box-shadow: 0 0 18px #ffffff;
  transition: .8s;
}

.popover-delete .delete-close:hover {
  background-color: rgba(0, 55, 235, 0.9);
  border: 1px solid #ffffff;
  box-shadow: 0 0 18px #ffffff;
  transition: .8s;
}

/* Profile Info */
.profile-info {
  margin: 0 2%;
  margin-top: 3%;
  padding: 50px 124px;
  text-align: left;
  border-top: 4px solid transparent;
  border-image: linear-gradient(to right, #6a0dad, #ff7e5f);
  border-image-slice: 1;
}

.profile-info p {
  font-size: 26px;
  margin: 24px;
  color: white;
  text-shadow: 0 0 10px #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}