/* Header */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color:rgba(18, 18, 18, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 18%;
    box-sizing: border-box;
    z-index: 1000;
}

/* Logo */
.logo {
    font-size: 28px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 0.8s ease;
}

.logo:hover {
    background: linear-gradient(
        to right,
        rgb(226, 226, 226),
        rgb(138, 185, 156),
        rgb(86, 150, 110),
        rgb(86, 150, 110),
        rgb(138, 185, 156),
        rgb(226, 226, 226)
    );
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: gradientAnimation 3s linear infinite;
    }
    
    @keyframes gradientAnimation {
    0% {
        background-position: 200% 50%;
    }
    
    100% {
        background-position: 0% 50%;
    }
}


/* Search Bar */
.search-container {
    padding: 0px 25px;
    display: flex;
    gap: 10px;
}

.search-container input {
    width: 300px;
    padding: 14px;
    border: none;
    border-radius: 14px;
    outline: none;
    font-size: 16px;
}

.search-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 14px;
    background-color: rgb(86, 156, 113);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background-color: rgb(52, 114, 76);
}

.suggestions-container {
    position: absolute;
    top: 80%;
    left: 25%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 14px;
    max-height: 200px;
    overflow-y: auto;
    width: 22%;
    z-index: 1000;
    display: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.suggestions-container div {
    padding: 10px;
    cursor: pointer;
    color: #333;
    font-size: 14px;
}

.suggestions-container div:hover {
    background-color: #f0f0f0;
}

/* Nav bar */
.hamburger-menu {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 1001;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    transition: max-height 0.3s ease;
}

.nav-links.hidden {
    display: none;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover, .nav-links a.active {
    color: rgb(86, 156, 113);
}

/* Top Container */
.top-container {
    display: flex;
    margin: 0 24px;
}

.profile-container {
    padding: 0;
}

.cart-container {
    padding: 4px 10px;
    
}

/* User Icon */
.user-icon {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 4px 10px;
    position: relative;
}

/* Profile-img */
.profile-img {
    margin: 0 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
}

/* Profile Button */
.profile-icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
    transition: border-color 0.3s ease;
}

.profile-img:hover {
    border-color: #2ea03d;
}

/* Cart Icon */
.cart-icon {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
}

#cartCount {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0 6px;
    font-size: 0.8rem;
    position: absolute;
    top: -5px;
    right: -10px;
}

#cartTotal {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}