/* Popover */
/* User Popover Container */
.user-container {
    position: fixed;
    top: 50px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 14px;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.6);
    width: 300px;
    z-index: 1000;
    padding: 15px;
    animation: fadeIn 0.3s ease-in-out;
}

.user-close-btn {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
}

.user-close-btn:hover {
    color: #000;
}

.user-container h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    color: #333;
}

.dropdown-btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0;
    background-color: rgb(86, 156, 113);
    color: #fff;
    border: none;
    border-radius: 16px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown-btn:hover {
    background-color: rgb(52, 114, 76)
}

/* Login and Signup Popover Containers */
.login-container, .signup-container {
    position: fixed;
    top: 50px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 14px;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.6);
    width: 300px;
    z-index: 1000;
    padding: 15px;
    animation: fadeIn 0.3s ease-in-out;
}

.login-close-btn, .signup-close-btn {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
}

.login-close-btn:hover, .signup-close-btn:hover {
    color: #000;
}

.login-container h3, .signup-container h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    color: #333;
}

.login-container input[type="text"],
.login-container input[type="password"],
.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 14px;
    font-size: 14px;
    box-sizing: border-box;
}

.login-btn, .signup-btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0;
    background-color: rgb(86, 156, 113);
    color: #fff;
    border: none;
    border-radius: 16px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover, .signup-btn:hover {
    background-color: rgb(52, 114, 76);
}

/* Cart Popover */
.cart-popover {
    position: fixed;
    top: 50px;
    right: 20px;
    width: 400px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.6);
    padding: 28px;
    border-radius: 14px;
    z-index: 1000;
    max-height: 360px;
    overflow-y: auto;
    animation: fadeIn 0.3s ease-in-out;
}

.cart-close-btn {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
}

.cart-close-btn:hover {
    color: #000;
}


.cart-popover h3 {
    margin-top: 0;
    color: #333;
}

.cart-popover.hidden {
    display: none;
}

.cart-popover .cart-img {
    width: 128px;
    height: 64px;
    margin-right: 10px;
}

.cart-popover ul {
    color: #333;
    list-style: none;
    padding: 5px;
    margin: 5px;
}

.cart-popover li {
    color: #333;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-button {
    margin-left: auto;
    background-color: rgb(86, 156, 113);
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 14px;
    padding: 5px 10px;
    cursor: pointer;
}

.cart-button:hover {
    background-color: rgb(86, 156, 113);
}

/* Animation for Popovers */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}