html {
    scroll-behavior: smooth;
}

body {
    background-color:hsla(0, 0%, 10%, 0.842);
    background-image: url('img/background.jpg');
    color: white;
    font-family: Arial, sans-serif;
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Back to Top Button */
.back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    padding: 20px 20px;
    border-radius: 14px;
    background-color: rgb(86, 156, 113);
    color: #f5f5f5;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: none;
    transition: background-color 0.3s ease;
}

.back-to-top:hover {
    background-color: rgb(52, 114, 76);
}