/* Containers */
.admin-container {
    margin: 35px auto;
    padding: 20px;
    max-width: 600px;
    background: none;
}

.admin-container h3 {
    margin-top: 0;
    margin-bottom: 18px;
    color: #fff;
    font-size: 1.5em;
}

.stats-container {
    margin: 0 auto 0 auto;
    max-width: 600px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 16px rgba(0,0,0,0.08);
    padding: 30px 30px;
    text-align: center;
}

.stat-box {
    margin: 24px 0;
    padding: 24px 0;
    border-radius: 12px;
    background:rgb(235, 235, 235);
    font-size: 1.5em;
    color: #555;
    font-weight: 600;
    box-shadow: 0 1px 6px rgba(86,156,113,0.07);
}

.stat-label {
    display: block;
    font-size: 1em;
    color: #888;
    font-weight: 400;
    margin-top: 8px;
}
