/* Background image*/
.intro-img {
  margin: 0;
  height: auto;
  width: auto;
  z-index: -1;
}

.user-counter {
  margin: 0;
  padding: 0px 50px;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  font-weight: bold;
  z-index: 0;
}

.user-counter-content {
  height: 132px;
  width: 650px;
  padding: 0 45px;
  display: flex;
  justify-content: center;
  flex-direction: row; 
  align-items: center;
  backdrop-filter: blur(10px);
  border-radius: 24px;
  border: 2px solid #ff007f;
  box-shadow: 0 0 25px #ff00ff;
  background-color: rgba(18, 18, 18, 0.6);
  transition: .3s;
}

.user-counter-content:hover {
  height: 145px;
  width: 680px;
  transition: .8s;
}

.user-counter-content p {
  margin: 0 45px;
  color: white;
  font-size: 26px;
  text-shadow: 0 0 25px #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.user-counter-content img {
  margin: 0 5px;
  height: 24px;
  width: 24px;
}

/* Content */
/* ikabil ditoy jay design jay pangcomputer */
.content {
  padding-top: 2%;
}

.content-box {
  background-color:rgba(18, 18, 18, 0.6);
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  height: auto;
  margin: 200px 200px;
  padding: 10px 200px;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 20px;
  border: 2px solid #ff007f;
  box-shadow: 0 0 25px #ff00ff;
}

.fist-content {
  margin: 10px 10px;
  text-align: left;
}

.fist-content h1 {
  color: white;
  padding: 32px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 25px #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fist-content div {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  padding: 40px;
  border-radius: 20px;
  background-color: rgba(24, 24, 24, 0.6);
}

.content1 img {
  height: 350px;
  width: 500px;
}

.content2 img {
  height: 350px;
  width: 500px;
}

.content3 img {
  height: 350px;
  width: 500px;
}

.fist-content p {
  font-size: 24px;
  margin-top: 50px;
  margin: 50px;
  color: white;
  text-shadow: 0 0 10px #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* Mobile Phone Screen */
@media screen and (max-width: 1080px) {
/* Header Style */
.header {
  background-color:rgba(18, 18, 18, 1);
  position: fixed;
  overflow: hidden;
  width: 100%;
  padding: 24px px;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
}

.header a {
  flex-grow: 1;
  flex-basis: 200;
  width: 250px;
  float: none;
  display: block;
  text-align: left;
}

.header-right {
  float: none;
}

.content-box {
  background-color:rgba(18, 18, 18, 0.8);
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0px;
}

.content-box {
  flex-grow: 1;
  flex-basis: 200;
  display: flex;
  flex-wrap: wrap;
}

.content1 {
  display: flex;
  flex-wrap: wrap;
}

.content1 img, p {
  flex-grow: 1;
  flex-basis: 200;
}

.content2 {
  display: flex;
  flex-wrap: wrap;
}

.content2 img, p {
  flex-grow: 1;
  flex-basis: 200;
}

.content3 {
  display: flex;
  flex-wrap: wrap;
}

.content3 img, p {
  flex-grow: 1;
  flex-basis: 200;
}


/* Content */
/* ikabil ditoy day design jay content pang cellphone */
.content {
  background-color:rgba(18, 18, 18, 0.8);
  margin: 0;
  display: flexbox;
  border-radius: 0px;
}

/* Footer */
footer {
  background-color:rgba(18, 18, 18, 0.8);
  text-align: center;
  padding: 10px 0;
  margin: 0;
  width: 100%;
}
}