/* Text animation */
:is(.ani) {
  opacity: 0;
  transform: translateY(32px); 
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

:is(.ani).visible {
  opacity: 1;
  transform: translateY(0);
}

html {
  scroll-behavior: smooth;
}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url(../img/background2.jpg);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/* Header Style */
.header {
  width: 100%;
  padding: 20px 80px;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  background-color:rgba(18, 18, 18, 0.6);
  position: fixed;
  z-index: 1;
}
  
.header a.logo {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 0 0 25px #ffffff;
  background: linear-gradient(
    to right,
    rgb(250, 78, 10),
    rgb(247, 12, 204),
    rgb(0, 106, 255),
    rgb(48, 248, 255),
    rgb(250, 78, 10)
  );
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: gradientAnimation 3s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 200% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.header a.logo img {
  height: 52px;
  width: 52px;
  border-radius: 28%;
  box-shadow: 0 0 10px #ff00ff; 
  margin: 0 10px;
}

.header a {
  float: left;
  text-align: center;
  margin: 15px 15px;
  padding: 8px 40px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 25px #ffffff;
  font-family: "Lucida Console", "Courier New", monospace;
  transition: .3s;
}

.header a.active {
  background-color: rgb(214, 55, 219);
  text-shadow: 0 0 25px #ffffff;
  color: white;
}

.header-right {
  margin-top: 10px;
  float: right;
}

.header-right a:hover {
  background-color: #ff00ff;
  box-shadow: 0 0 25px #ff00ff; 
  transition: .8s;
}

.searchbox {
  width: 324px;
  height: 40px;
  margin: 5px 0;
  padding: 5px 0px;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 25px;
  background-color: #ddd;
  transition: .3s;
}

.searchbox:hover {
  width: 600px;
  border: 1px solid #ff007f;
  box-shadow: 0 0 25px #ff00ff;
  transition: .8s;
}

.searchbox form {
  display: flex;
  width: 100%;
}

.searchbox input {
  margin-left: 5px;
  width: 100%;
  outline: none;
  border: none;
  font-size: 16px;
  padding-left: 10px;
  background: transparent;
  font-family: "Lucida Console", "Courier New", monospace;
}

.searchbox button {
  padding: 10px 30px;
  height: 50px;
  cursor: pointer;
  border: none;
  border-radius: 25px;  
  font-size: 18px;
  color: white;
  background-color: rgb(214, 55, 219);
  font-family: "Lucida Console", "Courier New", monospace;
}

.searchbox button:hover {
  background-color: #ff00ff;
  box-shadow: 0 0 25px #ff00ff;
}
