html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    background-image: url('img/background.jpg');
    color: white;
    font-family: Arial, sans-serif;
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color:rgba(18, 18, 18, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 14%;
    box-sizing: border-box;
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-img{
    width: 80px;
    height: 80px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover, .nav-links a.active {
    color: greenyellow;
}

/* Fist Container */
.slideshow-container {
    background-color: #333;
    position: relative;
    max-width: 100%;
    height: 100vh;
    margin: auto;
    overflow: hidden;
}

.mySlides {
    display: none;
    height: 100%;   
}

.fade {
    animation-name: fade;
    animation-duration: 2.5s;
}

.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.dots-container {
    text-align: center;
    position: absolute;
    bottom: 15px;
    width: 100%;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: greenyellow;
}

/* Second Container */
.second-container {
    background-color: white;
    color: #333;
    padding: 50px 18%;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 150px;
}

.second-container h2 {
    text-align: center;
    padding-bottom: 20px 0;
    font-size: 32px;
    margin-bottom: 40px;
    color: #333;
}

.second-container h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.second-container p {
    text-align: justify;
    font-size: 18px;
    margin-bottom: 40px;
}

/* Third Container */
.third-container {
    background-color: #333;
    color: white;
    padding: 120px 18%;
    box-sizing: border-box;
}

.third-container h2 {
    text-align: center;
    padding-bottom: 20px 0;
    font-size: 32px;
    margin-bottom: 40px;
}

.third-container li {
    padding: 10px 0;
    text-align: justify;
    font-size: 18px;
    color: #bbb;
}

/* Fourth Container */
.fourth-container {
    background-color: white;
    color: #333;
    padding: 120px 24%;
}

.fourth-container h2 {
    text-align: center;
    padding-bottom: 20px 0;
    font-size: 32px;
    margin-bottom: 40px;
    color: #333;
}

.fourth-container h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.e-resources-column {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.e-resources-row li {
    padding: 2.5px 0;
    list-style-type: none;
}

.e-resources-row a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s ease;
}

.e-resources-row a:hover {
    color: greenyellow;
}

/* Fifth Container */
.fifth-container {
    background-color: rgb(240, 240, 240);
    padding: 120px 14%;
    box-sizing: border-box;
}

.fifth-container h2 {
    text-align: center;
    padding-bottom: 20px 0;
    font-size: 32px;
    margin-bottom: 40px;
    color: #333;
}

.fifth-container p {
    text-align: justify;
    font-size: 16px;
    color: #666;
}

.history-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.history-box {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 14px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.history-box:hover {
    transform: scale(1.05);
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 8%;
    box-sizing: border-box;
}

.footer-top {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footer-box {
    flex: 1;
    text-align: left;
}

.footer-box img {
    display: block;
    margin: 0 auto 20px;
    width: 250px;
    height: auto;
}

.footer-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-box p, .footer-box ul {
    font-size: 16px;
    color: #bbb;
}

.footer-box ul {
    list-style: none;
    padding: 0;
}

.footer-box ul li {
    margin-bottom: 10px;
}

.footer-bottom {
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
    color: #bbb;
}

/* Back to Top Button */
.back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    padding: 20px 20px;
    border-radius: 14px;
    background-color: green;
    color: #f5f5f5;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: none;
    transition: background-color 0.3s ease;
}

.back-to-top:hover {
    background-color: rgb(0, 175, 0);
}

/* Mobile Phone Screen */
@media screen and (max-width: 1080px) {
    .navbar {
        position: relative;
        text-align: center;
        background-color: #333;
        flex-direction: column;
        align-items: center;
        padding: 20px 5%;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .second-container, .third-container, .fourth-container, .fifth-container {
        padding: 50px 8%;
    }

    .e-resources-column {
        flex-direction: column;
    }

    .e-resources-row {
        flex-direction: column;
    }

    .history-row {
        flex-direction: column;
    }

    .history-box {
        margin: 0;
        margin-bottom: 20px;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
    }

    .footer-box {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-box img {
        margin: 0 auto 20px;
    }

    .footer-bottom {
        margin-top: 20px;
    }
}